/**

  /\  __-./\  ___\/\  ___\/\ \/\  ___\/\ "-.\ \/\ \/\ "-.\ \/\  ___\
  \ \ \/\ \ \  __\\ \___  \ \ \ \ \__ \ \ \-.  \ \ \ \ \-.  \ \ \__ \
   \ \____-\ \_____\/\_____\ \_\ \_____\ \_\\"\_\ \_\ \_\\"\_\ \_____\
    \/____/ \/_____/\/_____/\/_/\/_____/\/_/ \/_/\/_/\/_/ \/_/\/_____/

   ______ ______  ______  ______  ______  ______  __    __  ______
  /\  == /\  == \/\  __ \/\  ___\/\  == \/\  __ \/\ "-./  \/\  ___\
  \ \  _-\ \  __<\ \ \/\ \ \ \__ \ \  __<\ \  __ \ \ \-./\ \ \___  \
   \ \_\  \ \_\ \_\ \_____\ \_____\ \_\ \_\ \_\ \_\ \_\ \ \_\/\_____\

*
* Web site: https://designingprograms.bitbucket.io
*
* Main style stylesheet
* version: V0.05
* Author: m.Webster 2019
* https://area03.bitbucket.io/
*
*/

body {
  font-family: 'IBMPlexSerifLight';
  color: black;
  box-sizing: border-box;
}

.body_center {
  position: relative;
  width: 100%;
  max-width: 980px;
  margin: 5px auto 6px auto;
  padding: 0px 0px 20px 20px;
  box-sizing: border-box;
}

#main {
  position: relative;
  transition: margin-left .5s;
  padding: 20px;
  box-sizing: border-box;
}

.main_wide {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0px auto 6px auto;
  /*padding-left: 5%;*/
  padding-bottom: 35px;
}

.notes {
  font-family: "IBMPlexMonoLight";
  font-size: 1.05em;
  line-height: 1.25em;
}

.notes a {
  font-family: "IBMPlexMonoLightItalic";
  font-size: 1.05em;
  font-kerning: normal;
  color: DarkBlue;
}

code {
  font-family: "IBMPlexMonoLight";
  font-size: 1.25em;
  color: DarkMagenta;
}

/**
 * inline colour coding
 */
 span.red {
     display: inline;
     padding: 10px;
     margin-right: 15px;
     background-color: red;
     color: white;
 }

 span.green {
     display: inline;
     padding: 10px;
     margin-right: 15px;
     background-color: green;
     color: white;
 }

 span.gold {
     display: inline;
     padding: 10px;
     margin-right: 15px;
     background-color: gold;
     color: white;
 }

 span.blue {
     display: inline;
     padding: 10px;
     background-color: blue;
     color: white;
 }

 span.black {
     display: inline;
     padding: 10px;
     background-color: black;
     color: white;
 }

 span.redCode {
     display: inline;
     padding: 0px;
     color: red;
 }

 span.greenCode {
     display: inline;
     padding: 0px;
     color: green;
 }

 span.blueCode {
     display: inline;
     padding: 0px;
     color: blue;
 }

 span.goldCode {
     display: inline;
     padding: 0px;
     color: gold;
 }

 span.blackCode {
     display: inline;
     padding: 0px;
     color: black;
 }


 span.observe {
     display: inline;
     padding: 10px;
     background-color: blue;
     color: white;
     font-family: "IBMPlexMonoBold";
     font-size: 1.75em;
 }

 span.syntax {
     display: inline;
     padding: 10px;
     margin-top: 1.25em;
     margin-bottom: 1.75em;
     background-color: gold;
     color: black;
     font-family: "IBMPlexMonoBold";
     font-size: 1.75em;
 }

 span.input {
     display: inline;
     padding: 10px;
     margin-top: 1.25em;
     margin-bottom: 1.25em;
     background-color: green;
     color: black;
     font-family: "IBMPlexMonoBold";
     font-size: 1.75em;
 }

 span.output {
     display: inline;
     padding: 10px;
     margin-top: 1.25em;
     margin-bottom: 1.25em;
     background-color: blue;
     color: white;
     font-family: "IBMPlexMonoBold";
     font-size: 1.75em;
 }

 span a{
   color: white;
   text-decoration: none;
 }

 span a:hover{
   color: red;
 }

 b {
   /*font-family: "IBMPlexSerifLightItalic";
   letter-spacing: 0.025em;*/
 }


/**
 * CSS Grid Layouts :
 *
 */
.gridText1 {
  display: grid;
  grid-template-columns: 12fr 3fr;
  grid-template-rows: auto;
  grid-gap: 3%;
}

p {
  font-family: 'IBMPlexSerifLight';
  font-size: 1.15em;
  line-height: 1.5em;

}

i {
  font-family: 'IBMPlexSerifLightItalic';
}

a {
  color: #9ACD32;
  text-decoration: none;
}

a:hover {
  color: gold;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-family: "IBMPlexMonoBold";
  font-size: 4em;
  margin-bottom: 0.2em;
  line-height: 1.0em;
}

.openTitle {
  font-family: "IBMPlexMonoBold";
  font-size: 4.3em;
  margin-bottom: 0.2em;
  line-height: 1.0em;
  letter-spacing: 0.02em;
}

h2 {
  font-family: "SpaceMono-Regular";
  font-size: 1.75em;
  letter-spacing: -0.015em;
  line-height: 1.6em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

h4 {
  font-family: "IBMPlexMonoLightItalic";
  font-size: 1.0em;
  line-height: 0.2em;
  margin-bottom: 2%;
}

nav a {
  font-family: "IBMPlexMonoLight";
  font-size: 1.2em;
  color: blue;
}

/*
 * SIDE-BAR NAVIGATION
 */
.sidenav, .container {
  position: fixed;
  cursor: pointer;
  padding-bottom: : 33%;
  padding-left: 1%;
  z-index: 4;
}

.bar1, .bar2, .bar3 {
  width: 55px;
  height: 8px;
  background-color: #333;
  margin: 6px 0px;
  transition: 0.35s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-12px, 8px);
  transform: rotate(-45deg) translate(-10px, 9px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-12px, -12px);
  transform: rotate(45deg) translate(-10px, -10px);
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gold;
  overflow-x: hidden;
  padding-top: 125px;
  transition: 0.45s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-family: 'IBMPlexMonoLightItalic';
  font-size: 1.15em;
  margin-left: 7%;
  color: blue;
  display: block;
  transition: 0.25s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: red;
  cursor: pointer;
  flex-shrink: 1;
  transition: all .3s cubic-bezier(.19, 1, .22, 1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0s;
}

img {
  max-width: 100%;
  height: auto;
}

.image--full {
  max-width: 100%;
}

.gridImage_02{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-gap: 3%;
}

.gridImage_03{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto;
  grid-gap: 3%;
}


.citation_article {
  max-width: 960px;
  margin-top: 5%;
  font-family: 'IBMPlexMonoLightItalic';
  font-size: 1.75em;
  font-kerning: auto;
  line-height: 1.75em;
  margin-bottom: 0.75em;
  color: blue;
}

.citation {
  max-width: 960px;
  margin-top: 5%;
  font-family: 'IBMPlexMonoLightItalic';
  font-size: 1.15em;
  font-kerning: auto;
  line-height: 1.65em;
  padding: 0px;
}

.legend {
  margin-top: 0px;
  color: lightblue;
  font-family: "IBMPlexMonoLight";
  font-size: 1.0em;
  margin-bottom: 0.75em;
}

.sidenote {
  grid-column: 2;
  font-family: 'IBMPlexMonoLightItalic';
  font-size: 0.9em;
  line-height: 1.35em;
  color: blue;
  /*margin-top: 25px;*/
}

#sidenoteLink {
  font-family: 'IBMPlexMonoLight';
  color: silver;
  /*margin-left: 10%;*/
}

#sidenoteLink a:hover {
  background-color: gold;
}

.footer p a {
  font-family: 'IBMPlexMonoLight';
  font-size: 0.85em;
  color: green;
  text-underline-position: under;
  border-bottom: 2px solid green;
  margin: 0.25em;
}

hr {
  margin-left: 0;
  width: 680px;
}

canvas{
    /*max-width: 100%;
    height: auto;*/
}

#sketch {
  font-family: 'IBMPlexMonoMedium';
  font-size: 1.1em;
  line-height: 0.5em;
  color: blue;
}

label,output {
  font-family: 'IBMPlexMono';
  font-size: 0.7em;
  line-height: 0.3em;
  color: red;
}

/**
 * interface elements
 */

input[type=range] {
  -webkit-appearance: none;
  margin: 0px, 0px;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: lightGrey;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: currentColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}

/**
   * MEDIA QUERIRES ------------>
   *
   */
@media (max-width: 820px) {
  h1 {
    font-size: 2.3em;
  }

  body {
    font-size: 1.1em;
    line-height: 1.1em;
  }

  .citation_article {
    font-size: 1.2em;
    line-height: 1.7em;
    margin-top: 25px;
  }

  .legend {
    font-size: 0.75em;
  }

  .body_center {
    padding: 0px 0px 20px 50px;
  }

}


@media (max-width: 425px) {
  body {
    font-size: 0.6em;
    line-height: 0.8em;
  }
  .citation_article {
    font-size: 1.0em;
    line-height: 1.7em;
    width: 300px;
    margin-top: 0px;
  }

  .legend {
    font-size: 0.75em;
  }

  #main {
    position: relative;
    transition: margin-left .5s;
    padding-left: 12%;
    box-sizing: border-box;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-family: "IBMPlexMonoMedium";
    font-size: 1.55em;
    letter-spacing: normal;
    letter-spacing: 0.015em;
  }


  #sidenoteLink {
    font-size: 0.05em;
    line-height: 1.2em;
    padding-top: 0.5em;
  }

  .body_center {
    margin: 0px;
    padding: 0px;
  }

  .sidenav a {
    font-size: 1.0em;
    line-height: 0.8em;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-12px, 8px);
    transform: rotate(-45deg) translate(-1px, 13px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, 9px);
    transform: rotate(45deg) translate(-1px, -13px);
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

  .sidenav a {
    font-size: 0.8em;
    line-height: 1.0em;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-12px, 8px);
    transform: rotate(-45deg) translate(-2px, 13px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, 9px);
    transform: rotate(45deg) translate(-2px, -14px);
  }
}

/**
   * Font imports
   */

@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('../font/SpaceMono-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBMPlexMonoLight';
  src: url('../font/IBMPlexMono-Light.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBMPlexMonoMedium';
  src: url('../font/IBMPlexMono-Medium.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBMPlexMonoLightItalic';
  src: url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBMPlexMonoBold';
  src: url('../font/IBMPlexMono-Bold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBMPlexSerifLight';
  src: url('../font/IBMPlexSerif-Light.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBMPlexSerifLightItalic';
  src: url('../font/IBMPlexSerif-LightItalic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
